<% if flash[:notice] %>
  <div class="alert alert-info alert-dismissible fade show mt-3" role="alert">
    <%= flash[:notice] %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<h1 class="mt-5">Categoria</h1>

<p class="mt-3">
  <strong>Nome:</strong>
  <%= @category.name %>
</p>

<div class="mt-5">
  <%= link_to 'Voltar', categories_path, class: 'btn btn-primary' %>
  <%= link_to 'Editar', edit_category_path(@category), class: 'btn btn-primary' %>
</div>
